
*{
  margin: 0;
  padding: 0;
}
body{
  overflow-y: auto;
}
@media only screen and (min-width: 1024px) {
  
}
@media only screen and (min-width: 1280px) {
  
}

@media only screen and (min-width: 768px) {
  
}